*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    color: #555;
    font-family: "lato","verdana";
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(20,20,20,0.69),rgba(20,20,20,0.69)), url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px; 
}

.navcon{
    background-color: transparent;
}

.navitem{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.navitem:hover{
    border-bottom: 2px solid orange;
}

.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link {
    color: orange;
    font-weight: bold;
}

.header-text{
    font-family: "lato","verdana";
    background-color: transparent;
    color: #fff;
}

.headermain{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.btn:link,
.btn:visited{
    border: 1px solid orange;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
}

.btn-full:link,
.btn-full:visited{
    background-color: orange;
    transition: 0.5;
}

.btn-full:hover,
.btn-full:active{
    background-color: rgba(255, 166, 2, 0.815);
    transition: 0.5;
}

.btn-ghost:link,
.btn-ghost:visited{
    color: orange;
    transition: 0.5;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: rgba(255, 166, 2, 0.815);
    color: #fff;
    transition: 0.5;
}

.section1{
    min-height: 101vh;
    background-image:linear-gradient(rgba(220,220,220,0.69),rgba(220,220,220,0.69)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
}

.cardcon{
    background-color: #fff;
    min-height: 620px;
    padding: 20px;
    -moz-box-shadow: 4px 9px 36px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 9px 36px -2px rgba(0, 0, 0, 0.75);
}

.card h3{
    padding: 20px;
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
}

.card h4{
    text-align: center;
    color: orange;
    padding: 20px;
    text-transform: uppercase;
    font-size: 75%;
    margin-bottom: 20px;
}

.card p{
    font-size: 70%;
}

.btn-card:link,
.btn-card:visited{
    color: orange;
    border: 1px solid orange;
    transition: 0.5;
    border-radius: 30px;
    font-size: 75%;
    padding: 5px 15px;
    margin-left: 33%;
}

.btn-card:hover,
.btn-card:active{
    background-color: rgba(255, 166, 2, 0.815);
    color: #fff;
    transition: 0.5;
}

.section2{
    min-height: 90vh;
    background-color: rgb(231, 231, 231);
}

.ourteam{
    padding-top: 70px;
    text-align: center;
    font: 200%;
    color: orange;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.OTCard{
    margin-top: 20px;
}

.OTC-name{
    color: orange;
    font-size: 120%;  
}

.OTC-p{
    font-size: 70%;
}

footer{
    min-height: 10vh;
    background-color: #1c1c1c;
}

.ft{
    color: #fff;
    font-size: 60%;
    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ft2{
    color: #fff;
    font-size: 150%;
    padding: 20px;
    margin-bottom: 0;
}

.ft2 i{
    color: orange;
    font-size: 100%;
    margin-right: 10px;
}

.rbutton{
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
}

.rbutton a:link,
.rbutton a:visited{
    color: orange;
}

@media(max-width: 820px){
    .navcon{
        background-color: #1c1c1c;
    }
    .btn{
        font-size: 0.8rem;
    }
    .header-text{
        padding-top: 0;
        padding-bottom: 0;
    }
    .headermain{
        font-size: 1.5rem;
    }
    .OTCard{
        margin-top: 0;
    }
    .ft2{
        font-size: 100%;
    }
    
    .ft2 i{
        font-size: 70%;
    }
}